/*  your css code here. If applicable */
column{
	border-radius: 3px;
}
body{
	box-sizing: border-box;
	display: inline;
	background-color: #f5f5f5;
}
header{
	background-color: #011e29;
	color: white;
	text-align: center;
	padding : 1px;
	margin : 01px
}
.main{
	display: flex;
}